.container{ 
  width: 70%;
  margin: 2rem auto 1.5rem;  
}

.formContainer{    
  display: flex;
  align-items: center;
  justify-content: center; 
} 

.formContainer input, button{
  height: 2.5rem;
}

.formContainer input:first-child {
  padding: 8px;
  width: 70%;
  background: linear-gradient(to right, var(--background), var(--blue));
  border:none;
  outline: none;
  font-size: 1rem;  
}

.formContainer input::placeholder{
  font-size: 0.8rem;
}

.formContainer input:last-child{
  width: 30%;
  color: var(--text);  
  background: var(--blue);
  border: none;  
  border-radius: 4px;
  margin-left:1px;
  outline: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.clearButton{
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;   
  color: var(--text);  
  background: var(--btn-red);
  border: none;  
  border-radius: 4px;
  font-size: 1rem; 
} 

@media screen and (min-width: 500px){  
  .formContainer{      
    flex-direction: column;  
  } 

  .formContainer input:first-child {
    width: 100%;        
    margin-bottom: 0.2rem;
  }

  .formContainer input:last-child{
    width: 100%;    
  }

  .clearButton{
    position: relative;
    margin-top: 1.6rem;
  }
}

