.usersContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .usersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1080px){
  .usersContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* width: 70%;
    margin: 0 auto; */
  }
}